<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head.ejs") %>
  <!-- ejs head partial above -->
  <body>
    <%- include("partials/nav.ejs") %>
    <!-- ejs nav partial above -->
  </body>
</html>
