<!DOCTYPE html>
<html lang="en">
  <!-- Ejs head -->
  <%- include("partials/head.ejs") %>
  <body>
    <!-- Ejs nav -->
    <%- include("partials/nav.ejs") %>
    <h1 class="join"><%= title %></h1>
    <!-- validation box -->
    <div class="errors">
      <% if(errors.length > 0) {%> <% errors.forEach((error) => {%>
      <p class="error"><%= error.msg%></p>
      <%})%> <%}%>
    </div>
    <!-- form controls -->
    <form action="/auth/signup" method="post" novalidate autocomplete="off">
      <div class="form-control">
        <label for="first_name">First Name</label>
        <input type="text" name="first_name" id="first_name" />
      </div>
      <div class="form-control">
        <label for="last_name">Last Name</label>
        <input type="text" id="last_name" name="last_name" />
      </div>
      <div class="form-control">
        <label for="username">Email</label>
        <input type="email" id="username" name="username" required />
      </div>
      <div class="form-control">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required />
      </div>
      <div class="form-control">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" name="confirmPassword" id="password" />
      </div>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
